:root {
    --color-main-bg: #271A58;
    --monochrome-white-20: #FFF;
    --monochrome-black-20: #000;
    --color-button-bg: #140D40;
    --color-button-bg-hover: #2D1F79;
    --color-button-bg-active: #3B29A1;
    --color-text-light-grey: #F4F4FF;
    --color-text-light-green: #C7E957;
    --color-text-light-green-hover: #DAF289;
    --color-text-light-green-active: #EBFFAB;
}