:root {
    --color-main-bg: #271A58;
    --monochrome-white-20: #FFF;
    --color-button-bg: #140D40;
    --color-button-bg-hover: #2D1F79;
    --color-button-bg-active: #3B29A1;
    --color-text-light-grey: #F4F4FF;
}